#clockface {
  fill: #f0faf8f3;
  stroke: black;
  stroke-width: 2;
}

#indices > use {
  stroke-linecap: round;
  stroke: #306f91;
  stroke-width: 1;
}

#indices > use:nth-child(3n + 1) {
  stroke-width: 5;
}

#hours {
  stroke: #306f91;
  stroke-width: 4;
}
#minutes {
  stroke: #306f91;
  stroke-width: 2;
}

#seconds {
  stroke: #c32e04;
  animation: rotateSecondHand 60s steps(60) infinite;
}

@keyframes rotateSecondHand {
  to {
    transform: rotate(360deg);
  }
}